<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3"><%=title%></h1>
</div>
<div class="wrapper-md">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form" method="POST" ui-jq="parsley">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Kategori</label>
                                <select required ui-jq="select2" ui-options="{minimumResultsForSearch: -1, placeholder: ''}" class="form-control" id="categorySelect" required name="campaignCategory">
                                  <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Author</label>
                                <select required ui-jq="select2" ui-options="{minimumResultsForSearch: -1, placeholder: ''}" class="form-control" id="authorSelect" required name="author">
                                  <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <legend>Detail Content</legend>
                    <div class="form-group">
                        <label>Judul</label>
                        <input required type="text" class="form-control" name="title" value="<%= typeof data.data!='undefined' && data.data.postMeta.title ? data.data.postMeta.title : '' %>">
                    </div>
                    <div class="form-group">
                        <label>Video URL</label>
                        <input required type="text" class="form-control" name="videoUrl" id="youtubeVideoUrl" value="<%= typeof data.data!='undefined' && data.data.postMeta.videoUrl ? data.data.postMeta.videoUrl : '' %>">
                    </div>
                    <div class="form-group">
                        <label>Deskripsi</label>
                        <textarea required ui-jq="summernote" name="content" class="form-control" id="summernote_textarea_cloudinary" rows="10" ui-options="{height:'200',placeholder:'type description here'}"><%= typeof data.data!='undefined' && data.data.postMeta.content ? data.data.postMeta.content : '' %></textarea>
                    </div>
                    <div class="row gallery" id="result" class="sortable" ui-jq="sortable">
                        <% if(typeof data.data!='undefined' && data.data.postMeta.images){data.data.postMeta.images.forEach(function(img){ %>
                            <div class="col-lg-3 col-sm-4 col-xs-6 upload-image-thumb">
                                <div class="div-img-del">
                                  <a class="btn btn-default btn-sm btn-danger deleteImage">
                                    <i class="glyphicon glyphicon-remove icon "></i>
                                  </a>
                                </div>
                                <img class="thumbnail img-responsive" src="<%=img%>">
                                <input required name="images[]" type="hidden" value="<%=img%>">
                            </div>
                        <%})}%>
                    </div>
                    <!-- <div class="form-group hidden">
                        <div class="row">
                            <div class="col-sm-12">
                                <label>Deskripsi</label>
                            </div>
                        </div>
                        <input  ui-jq="tagsinput" ui-options="" class="form-control" name="tags" value="<%= typeof data.data!='undefined' && data.data.postMeta.tag ? data.data.postMeta.tag : '' %>">
                    </div> -->
                    <div class="row">
                        <div class="col-md-12">
                            <legend>Status</legend>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="checkbox-inline i-checks">
                              <input type="checkbox" name="publishedStatus" <%= typeof data.data!='undefined' && data.data.publishedStatus ? 'checked' : '' %>>
                                <i></i>Publikasikan Video ini</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <legend>Featured</legend>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="checkbox-inline i-checks">
                              <input type="checkbox" name="featured" <%= typeof data.data!='undefined' && data.data.featured ? 'checked' : '' %>>
                                <i></i>Letakkan campaign ini di halaman depan</label>
                        </div>
                    </div>

                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var selectedCat = <%- (typeof data.data!='undefined' && data.data.campaignCategory) ? JSON.stringify(data.data.campaignCategory)+';' : '"";' %>
    var selectedBankArray = <%- typeof data.data!='undefined' && data.data.bank ? JSON.stringify(data.data.bank)+';' : '"";' %>
</script>
