<!-- aside -->
<aside id="aside" class="app-aside hidden-xs bg-dark">
    <div class="aside-wrap">
        <div class="navi-wrap">
            <!-- user -->

            <!-- / user -->

            <!-- nav -->
            <nav ui-nav class="navi clearfix">
                <ul class="nav">
                    <li class="hide hidden-folded padder m-t m-b-sm text-muted text-xs">
                        <span>Navigasi</span>
                    </li>
                    <li class="<%= locals.state ? isActive(['campaign', 'categories','author'], state) : '' %>">
                        <a href class="auto">
                            <span class="pull-right text-muted">
                                <i class="fa fa-fw fa-angle-right text"></i>
                                <i class="fa fa-fw fa-angle-down text-active"></i>
                            </span>
                            <i class="glyphicon glyphicon-th <%= locals.state ? isActive(['campaign', 'categories'], state, 'text-primary-dker') : '' %>"></i>
                            <span>Konten</span>
                        </a>
                        <ul class="nav nav-sub dk">
                            <li class="<%= locals.state ? isActive(['campaign'], state) : '' %>">
                                <a href="<%=PREFIX_ROUTE_BACK_OFFICE%>/campaign">
                                    <span>Video</span>
                                </a>
                            </li>
                            <li class="<%= locals.state ? isActive(['author'], state) : '' %>">
                                <a href="<%=PREFIX_ROUTE_BACK_OFFICE%>/author">
                                    <span>Author</span>
                                </a>
                            </li>
                            <li class="<%= locals.state ? isActive(['categories'], state) : '' %>">
                                <a href="<%=PREFIX_ROUTE_BACK_OFFICE%>/categories">
                                    <span>Kategori</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </nav>

            <!-- / aside footer -->
        </div>
    </div>
</aside>
